<h1> add new player</h1>

<form action="/players" method='post'>

<label for="">name</label>
<input type="text" name='name'>

<label for="">image url</label>
<input type="text" name="image_url">

<label for="">age</label>
<input type="integer" name="age">

<label for="">team</label>
<input type="text" name="team">

<label for="">playing role</label>
<input type="text" name="playing_role"> 

<button>create</button>
</form>